.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}
.counter-label {
  font-size: xx-large;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.increment-btn {
  background-color: rgb(20, 20, 87);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  font: 600;
  border-radius: 10px;
  margin: 10px 10px;
  padding: 15px 32px;
  color: aliceblue;
}

.decrement-btn {
  background-color: rgb(20, 20, 87);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  font: 600;
  border-radius: 10px;
  margin: 10px;
  padding: 15px 32px;
  color: aliceblue;
}

.reset-btn {
  background-color: rgb(20, 20, 87);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  font: 600;
  border-radius: 10px;
  margin: auto;
  padding: 15px 32px;
  color: aliceblue;
}

.decrement-btn:hover {
  background-color: rgb(7, 80, 80);
}
.reset-btn:hover {
  background-color: rgb(7, 80, 80);
}
.increment-btn:hover {
  background-color: rgb(7, 80, 80);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid;
  padding: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}
random-btn {
  background-color: rgb(20, 20, 87);
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: large;
  font: 600;
  border-radius: 10px;
  margin-bottom: auto;
  padding: 15px 32px;
  color: aliceblue;
}
button {
  padding: auto;
  background-color: #61dafb;
  border-radius: 5px;
}
